
<form [formGroup]="form"  >
    <div class="container">
      <div class="col-12">
        <div class="form-group text-center">
          <br><h5>crée un compte</h5>
        </div>
  
  
        <div class="form-group">
          <h3>ID:</h3>
          <input class="form-control" formControlName="id" type="text" placeholder="id" >
        </div>
        <div class="form-group">
          <h3>username:</h3>
          <input class="form-control" formControlName="username" type="text" placeholder="username" >
        </div>
        <div class="form-group">
          <h3>password:</h3>
          <input class="form-control" formControlName="password" type="text" placeholder="password" >
        </div>
        <div class="form-group">
          <h3>email:</h3>
          <input class="form-control" formControlName="email" type="text" placeholder="Email" ngModel [email]="true">
        </div>
        <div class="form-group">
            <h3>role:</h3>
            <select class="form-control" formControlName="role"  placeholder="role" >
              <option value="Administrateur">Administrateur</option>
              <option value="Utilisateur">Utilisateur</option>
              </select>
          </div>
  
  
          <button [disabled]="form.invalid"  (click)="userservice.ajouter(form.value)" class="btn btn-success" >ajouter</button>
      </div>
    </div>
  
  </form>
  